<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lg.warehouse.dao.OrderDAO">

  <insert id="addOrder" parameterType="com.lg.warehouse.entity.Order" >
      INSERT INTO tb_order

    (operator_account,goods_id,goods_num,total_value,warehouse_id,direction,executed,create_time,last_modify_time)
    VALUES (#{operatorAccount},#{goodsID},#{goodsNum},#{totalValue},#{warehouseID},#{direction},#{executed},#{createTime},#{lastModifyTime})

</insert>
    
    <select id="queryAllOrders" resultType="com.lg.warehouse.entity.Order">
        
        SELECT *
        FROM tb_order
    </select>
    
    <select id="queryUnfinishedOrders" resultType="com.lg.warehouse.entity.Order">
        SELECT *
        FROM tb_order
        WHERE executed='F'
    </select>

    <select id="queryFinishedOrders" resultType="com.lg.warehouse.entity.Order">
        SELECT *
        FROM tb_order
        WHERE executed='T'
    </select>


    <select id="queryOrderByOrderID" parameterType="String" resultType="com.lg.warehouse.entity.Order">
        SELECT *
        From tb_order
        WHERE order_id=#{orderID}
    </select>

    <update id="modifyExecutedBySelf" parameterType="com.lg.warehouse.entity.Order">
        UPDATE tb_order
        SET executed=#{executed},last_modify_time=#{lastModifyTime}
        WHERE order_id=#{orderID}
    </update>

    <delete id="deleteOrderByID" parameterType="String">
        DELETE
        FROM tb_order
        WHERE order_id=#{orderID}
    </delete>

    <delete id="deleteFinishedOrder">
        DELETE
        FROM tb_order
        WHERE executed="T"
    </delete>


</mapper>