<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lg.warehouse.dao.WarehouseDAO">

  <select id="queryWarehouseByID" parameterType="String" resultType="com.lg.warehouse.entity.Warehouse">
      SELECT *
      FROM tb_warehouse
      WHERE warehouse_id = #{warehouseID}
</select>
    


    <select id="queryRemainByWarehouseID" parameterType="String" resultType="Integer" >
        SELECT remain
        FROM tb_warehouse
        WHERE warehouse_id=#{warehouseID}
    </select>

    <update id="modifyRemainBySelf" parameterType="com.lg.warehouse.entity.Warehouse">
        UPDATE tb_warehouse
        SET remain=#{remain}
        WHERE warehouse_id=#{warehouseID}
    </update>


    <insert id="addWarehoue" parameterType="com.lg.warehouse.entity.Warehouse">
        INSERT INTO tb_warehouse
          (warehouse_id,warehouse_name,location,remain,capacity)
        VALUES (#{warehouseID},#{warehouseName},#{location},#{remain},#{capacity})
    </insert>


    <select id="queryAllWarehouse" resultType="com.lg.warehouse.entity.Warehouse">
        SELECT *
        FROM tb_warehouse
    </select>

</mapper>