<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加货物</title><style>
    #b{
        width:500px;
        border: 1px solid white;
        margin-left: 400px;
        margin-top: 100px;
        text-align: right;
    }
    body{
        background-color: aliceblue;
    }
</style>
</head>
<body>
<div id="b">
    <form  class="elegant-aero">
        <label>
            <span>货物编号：</span>
            <input type="text" required="required" id="text_goodsID" value="A123"/>
        </label>
        <label>
            <span>货物名：</span>
            <input type="text"  required="required" id="text_goodsName" value="A1B23" />
        </label>

        <label>
            <span>货物单价：</span>
            <input type="number" required="required" id="text_price" value="123" />

        </label>

        <label>
            <input type="button" class="button" value="添加货物" onclick="postGoods()">
        </label>
    </form>
</div>
</body>
<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript">

    function postGoods() {
        var requestURL = "order/addGoods";
        var goodsID = $("#text_goodsID").val();
        var goodsName =$("#text_goodsName").val();
        var price = $("#text_price").val();

        var data={
            "goodsID":goodsID,
            "goodsName":goodsName,
            "price":price,
        };

        console.log(data);

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            async: true,
            success: function (result) {

                if (result.status == 0) {//成功
                    alert(result.msg);
                    console.log(result.msg);

                } else  {
                    alert(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>

</html>