<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加货物</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>


</style>
</head>
<body>


<div style="padding: 100px 100px 10px; width: 50%">
    <div class="bs-example bs-example-form" role="form">
        <div class="input-group">
            <span class="input-group-addon">货物编号</span>
            <input type="text" id="text_goodsID" class="form-control" placeholder="货物编号" >
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">货物名称</span>
            <input type="text" id="text_goodsName" class="form-control" placeholder="货物名称" >
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">货物单价</span>
            <input type="text" id="text_price" class="form-control" placeholder="货物单价" >
        </div>
        <br>

        <div class="form-group col-md-offset-9">
            <button class="btn btn-primary pull-right " onclick="postGoods()">添加货物</button>
        </div>

    </div>
</div>

</body>
<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript">

    function postGoods() {
        var requestURL = "order/addGoods";
        var goodsID = $("#text_goodsID").val();
        var goodsName =$("#text_goodsName").val();
        var price = $("#text_price").val();

        var data={
            "goodsID":goodsID,
            "goodsName":goodsName,
            "price":price,
        };

        console.log(data);

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            async: true,
            success: function (result) {

                if (result.status == 0) {//成功
                    alert(result.msg);
                    console.log(result.msg);

                } else  {
                    alert(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>

</html>