<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加订单</title>
    <link rel="stylesheet" href="../static/css/info.css" th:href="@{css/info.css}" />
    <style>
        #b{
            width:500px;
            border: 1px solid white;
            margin-left: 400px;
            margin-top: 100px;
            text-align: right;
        }
        body{
            background-color: aliceblue;
        }
    </style>
</head>
<body>

<div>
    <label>
        <span>货物号：</span>
        <input type="text" required="required" id="text_goodsID" value="123"/>
    </label>
    <label>
        <span>货物数量：</span>
        <input type="number" name="points" min="1" id="text_goodsNum" value="123" />
    </label>

    <label>
        <span>执行操作：</span>
        <label for="text_input"><input id="text_input" type="radio"  name="chose" checked="checked">入库</label>
        <label for="text_output"><input id="text_output" type="radio"  name="chose">出库</label>
    </label>

    <label>
        <span>目标仓库号：</span>
        <input type="text" required="required" id="text_warehouseID" value="C123">
    </label>

    <label>
        <button class=".btn-default" onclick="postOrder()">生成订单</button>
    </label>
</div>
</body>


<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript">

    function postOrder() {

        var requestURL = "order/postOrder";

        var goodsID = $("#text_goodsID").val();
        var goodsNum =$("#text_goodsNum").val();
        var warehouseID = $("#text_warehouseID").val();

        var direction="none";

        if($("#text_input").attr("checked")){
            direction="In";
        }else{
            direction="Out";
        }

        console.log(direction);
        var data={
            "goodsID":goodsID,
            "goodsNum":goodsNum,
            "direction":direction,
            "warehouseID":warehouseID
        };

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            async: true,
            success: function (result) {

                if (result.status == 0) {//成功
                    alert(result.msg);
                    console.log(result.msg);

                } else  {
                    alert(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>
</html>