<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加订单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body class="bg-info">

<div style="padding: 100px 100px 10px; width: 50%">
    <div class="bs-example bs-example-form">
        <div class="input-group">
            <span class="input-group-addon">货物编号</span>
            <input type="text" id="text_goodsID" class="form-control" placeholder="货物编号" value="g1">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">货物数量</span>
            <input type="number" id="text_goodsNum" class="form-control" min="1" placeholder="货物数量" value="100">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">执行操作</span>
            <div >
                <label for="text_input" style="margin-left: 15%"><input id="text_input" type="radio"  name="chose" checked="checked">入库</label>
                <label for="text_output" style="margin-left: 15%"><input id="text_output" type="radio"  name="chose">出库</label>

            </div>

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">目标仓库</span>
            <input type="text" id="text_warehouseID" class="form-control" placeholder="仓库编号" value="w1">
        </div>
        <br>

        <div class="form-group col-md-offset-9">
            <button class="btn btn-primary pull-right" onclick="postOrder()">生成订单</button>
        </div>

    </div>
</div>


</body>


<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript">

    function postOrder() {

        var requestURL = "order/postOrder";

        var goodsID = $("#text_goodsID").val();
        var goodsNum =$("#text_goodsNum").val();
        var warehouseID = $("#text_warehouseID").val();

        var direction="none";

        if($("#text_input").attr("checked")){
            direction="In";
        }else{
            direction="Out";
        }


        var data={
            "goodsID":goodsID,
            "goodsNum":goodsNum,
            "direction":direction,
            "warehouseID":warehouseID
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            async: false,
            success: function (result) {

                if (result.status == 0) {//成功
                    alert(result.msg);
                    console.log(result.msg);
                } else  {
                    console.log(result.msg);
                    alert(result.msg);
                }
            },
            error: function () {

                console.log("error");
            }
        });
    }
</script>
</html>