<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加仓库</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="bg-info">

<div style="padding: 100px 100px 10px; width: 50%">
    <div class="bs-example bs-example-form" >
        <div class="input-group">
            <span class="input-group-addon">仓库编号</span>
            <input type="text" id="text_warehouseID" class="form-control" placeholder="仓库编号" value="w9">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">仓库名称</span>
            <input type="text" id="text_warehouseName" class="form-control" min="1" placeholder="仓库名称" value="w9仓库">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">仓库位置</span>

                <input type="text" id="text_location" class="form-control"  placeholder="仓库位置" value="蜈蚣山路">


        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">最大容量</span>
            <input type="number" id="text_capacity" class="form-control" placeholder="最大容量" value="9999">
        </div>
        <br>

        <div class="form-group col-md-offset-9">
            <button class="btn btn-primary pull-right" onclick="postWarehouse()">添加仓库</button>
        </div>

    </div>
</div>


</body>
<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript">

    function postWarehouse() {
        var requestURL = "order/addWarehouse";
        var warehouseID = $("#text_warehouseID").val();
        var warehouseName =$("#text_warehouseName").val();
        var location = $("#text_location").val();
        var capacity = $("#text_capacity").val();


        var data={
            "warehouseID":warehouseID,
            "warehouseName":warehouseName,
            "location":location,
            "capacity":capacity
        };

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            async: true,
            success: function (result) {

                if (result.status == 0) {//成功
                    alert(result.msg);
                    console.log(result.msg);

                } else  {
                    alert(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>

</html>