<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询所有职员</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/table.css" th:href="@{css/table.css}">


</head>
<body class="bg-info">


<button class="btn btn-primary "   onclick="queryOrders()">查询所有职员</button>


<table id="rounded-corner">
    <thead id="orderList">
    <tr></tr>
    </thead>
</table>

</body>

<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>

<script type="text/javascript">

    function queryOrders() {
        var requestURL = "employee/allEmployee";
        getData(requestURL);
    }


    function getData(requestURL) {
        $.ajax({
            type: "GET",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: "",
            async: true,
            success: function (result) {

                $("#orderList").html("");
                if (result.status == 0) {//成功

                    console.log(result.data);
                    var array = result.data;

                    $('#orderList').append(
                        "<th scope='col'>账号</th>" +
                        "<th scope='col'>姓名</th>" +
                        "<th scope='col'>身份</th>"
                    );

                    for (var i = 0; i < array.length; i++) {

                        $('#orderList').append("<tr>" +

                            "<td>" + array[i].account + "</td>" +
                            "<td>" + array[i].employeeName + "</td>" +
                            "<td>" + array[i].authorities + "</td>" +
                            "</tr>");

                    }

                } else {
                    console.log(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>


</html>
