<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单查询</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/table.css" th:href="@{css/table.css}">


</head>
<body>


<button class="btn btn-primary "   onclick="queryOrders()">查询所有订单</button>


<table id="rounded-corner">
    <thead id="orderList">
    <tr></tr>
    </thead>
</table>

</body>

<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>

<script type="text/javascript">

    function queryOrders() {
        var requestURL = "order/allOrders";
        getData(requestURL);
    }


    function getData(requestURL) {
        $.ajax({
            type: "GET",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: "",
            async: true,
            success: function (result) {

                $("#orderList").html("");
                if (result.status == 0) {//成功

                    console.log(result.data);
                    var array = result.data;

                    $('#orderList').append(
                        "<th scope='col'>订单编号</th>" +
                        "<th scope='col'>货物编号</th>" +
                        "<th scope='col'>货物数量</th>" +
                        "<th scope='col'>操作员账号</th>" +
                        "<th scope='col'>调度方向</th>" +
                        "<th scope='col'>目标仓库</th>" +
                        "<th scope='col'>是否执行</th>" +
                        "<th scope='col'>创建时间</th>" +
                        "<th scope='col'>最后修改时间</th>" +
                        "<th scope='col'>总金额</th>"
                    );

                    for (var i = 0; i < array.length; i++) {

                        $('#orderList').append("<tr>" +
                            "<td>" + array[i].orderID + "</td>" +
                            "<td>" + array[i].goodsID + "</td>" +
                            "<td>" + array[i].goodsNum + "</td>" +
                            "<td>" + array[i].operatorAccount + "</td>" +
                            "<td>" + array[i].direction + "</td>" +
                            "<td>" + array[i].warehouseID + "</td>" +
                            "<td>" + array[i].executed + "</td>" +
                            "<td>" + array[i].lastModifyTime + "</td>" +
                            "<td>" + array[i].createTime + "</td>" +
                            "<td>" + array[i].totalValue + "</td>" +
                            "</tr>");

                    }

                } else {
                    console.log(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>


</html>
