<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除员工</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/table.css" th:href="@{css/table.css}">

</head>
<body class="bg-info">

<div style="padding: 100px 100px 10px; width: 50%">
    <div class="bs-example bs-example-form">
        <div class="input-group">
            <span class="input-group-addon">职员编号</span>
            <input type="text"  class="form-control" placeholder="职员编号" id="text_account">
        </div>
        <br>

        <div class="input-group">

            <button class="btn btn-primary"   onclick="deleteEmployeeByID()">根据ID删除职员</button>

        </div>

    </div>
</div>



<table id="rounded-corner">
    <thead id="orderList">
    <tr></tr>
    </thead>
</table>

</body>

<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>

<script type="text/javascript">

    function deleteEmployeeByID() {
        var requestURL = "employee/deleteEmployee";
        var account =$("#text_account").val();

        if(account==""||account==null){
            alert("账号不能为空");
            return;
        }

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "text/plain;charset=utf-8",
            dataType: "json",
            data: account,
            async: true,
            success: function (result) {

                $("#orderList").html("");
                if (result.status == 0) {//成功

                    alert(result.msg);


                } else  {
                    alert(result.msg);
                    console.log(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>


</html>
