<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除订单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body class="bg-info">


<div style="padding: 100px 100px 10px; width: 50%">
    <div class="bs-example bs-example-form">
        <div class="input-group">
            <span class="input-group-addon">订单ID</span>
            <input type="text"  class="form-control" value="1009" id="text_order_id">
        </div>
        <br>
        <br>
        <br>
        <div class="input-group">

            <button class="btn btn-primary"   onclick="deleteOrderByID()">根据ID删除订单</button>

        </div>
        <br>
        <div class="input-group">

            <button class="btn btn-primary" onclick="deleteFinishedOrder()">删除所有已完成订单</button>

        </div>
        <br>

    </div>
</div>


</body>

<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>

<script type="text/javascript">

    function deleteOrderByID() {
        var requestURL = "order/deleteOrderByID";
        var orderID = $("#text_order_id").val();

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "text/plain;charset=utf-8",
            dataType: "json",
            data: orderID,
            async: true,
            success: function (result) {

                $("#orderList").html("");
                if (result.status == 0) {//成功
                    alert(result.msg);
                } else {
                    alert(result.msg);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }


    function deleteFinishedOrder() {
        var requestURL = "order/deleteFinishedOrder";

        $.ajax({
            type: "GET",
            url: requestURL,
            contentType: "text/plain;charset=utf-8",
            dataType: "json",
            data: "",
            async: true,
            success: function (result) {

                $("#orderList").html("");
                if (result.status == 0) {//成功
                    alert(result.msg);
                } else {
                    alert(result.msg);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>


</html>
