<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询所有货物</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/table.css" th:href="@{css/table.css}">
</head>
<body class="bg-info">

<button class="btn btn-primary " onclick="queryAllGoods()">查询所有货物</button>


<table id="rounded-corner">
    <thead id="orderList">
    <tr></tr>
    </thead>
</table>

</body>

<script src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>

<script type="text/javascript">
    function queryAllGoods() {
        var requestURL = "order/getAllGoods";
        getData(requestURL);
    }


    function getData(requestURL) {
        $.ajax({
            type: "GET",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: "",
            async: true,
            success: function (result) {

                $("#orderList").html("");
                if (result.status == 0) {//成功

                    console.log(result.msg);
                    console.log(result.data);

                    var array = result.data;

                    $('#orderList').append(
                        "<th scope='col'>货物编号</th>" +
                        "<th scope='col'>货物名</th>" +
                        "<th scope='col'>货物单价</th>"
                    );

                    for (i = 0; i < array.length; i++) {

                        $('#orderList').append("<tr>" +
                            "<td>" + array[i].goodsID + "</td>" +
                            "<td>" + array[i].goodsName + "</td>" +
                            "<td>" + array[i].price + "</td>" +
                            "</tr>");
                    }

                } else {
                    alert(result.msg);
                    console.log(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>

</html>