<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员注册</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/login_style.css">
</head>
<body class="bg-info">

<div style="margin-top: 5%">
    <h1>用户注册</h1>
</div>

<div style="padding: 100px 100px 10px; width: 50%">
    <div class="bs-example bs-example-form">
        <div class="input-group">
            <span class="input-group-addon">职员账号</span>
            <input type="text" id="text_account" class="form-control" placeholder="职员账号">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">职员姓名</span>
            <input type="text" id="text_employee_name" class="form-control" placeholder="职员姓名">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">账号密码</span>
            <input  id="text_password" class="form-control" type="password" placeholder="账号密码">
        </div>
        <br>

        <br>
        <div class="input-group">
            <span class="input-group-addon">密码确认</span>
            <input  id="text_re_password" class="form-control"  type="password" placeholder="密码确认">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">用户权限</span>
            <div >
                <label for="text_employee" style="margin-left: 15%"><input id="text_employee" type="radio"  name="chose" checked="checked">操作员</label>
                <label for="text_admin" style="margin-left: 15%"><input id="text_admin" type="radio"  name="chose">管理员</label>

            </div>

        </div>
        <br>



        <div class="form-group col-md-offset-9">
            <button class="btn btn-primary pull-right" onclick="startRegister()">注册账号</button>
        </div>

    </div>
</div>





</body>

<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js" th:src="@{js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript">

    function startRegister() {
        var requestURL = "employee/register";
        var account = $("#text_account").val();
        var employeeName = $("#text_employee_name").val();
        var password =$("#text_password").val();
        var rePassword =$("#text_re_password").val();
        var authorities;

        if($("#text_employee").attr("checked")){
            authorities="employee";
        }else{
            authorities="admin";
        }




        if(password!=rePassword){
            alert("两次密码不同，请重新输入");
            return;
        }

        var data={
            "account":account,
            "employeeName":employeeName,
            "password":password,
            "authorities":authorities
        };

        $.ajax({
            type: "POST",
            url: requestURL,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            async: true,
            success: function (result) {

                if (result.status == 0) {//成功

                    alert(result.msg);

                } else  {
                    alert(result.msg);
                    console.log(result.msg);

                }
            },
            error: function () {
                alert("error");
            }
        });
    }


</script>
</html>